/*----[ clear ]---------------------------------*/
.fixed:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.fixed{display:block;min-height:1%;}
*html .fixed{height:1%;}
.clear{display:block!important;float:none!important;clear:both;overflow:hidden;width:auto!important;height:0!important;font-size:0;line-height:0;margin:0 auto!important;padding:0!important;}


/* -----[ content ]---------------------*/
#content {
	width:100%;
	margin:10px auto 14px auto; }
	
/* -----[ price ]---------------------*/
.price h2 {
  background: none repeat scroll 0 0 #fffaf0;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-indent: 12px;
}
	
.priceContent {	
	border:1px solid #d1d1d1;  border-top:none;
	padding:15px 15px 0 15px; }
	
.priceTOP li {
	float:left; padding-right:14px; }
	
.priceTOP select {
	height:22px; }

.btnS, .btnM {
	cursor:pointer;
	border:none; }	

.btnS {	
	background:url(./images/btn.png) -67px -49px no-repeat;
	width:47px;  height:23px;
	line-height:23px; }
	
*html .btnS { 
	background:url(./images/input&btn_bg.png) 0 -20px no-repeat;
	height:22px;
	line-height:22px; }
	
.btnM {	
	background:url(./images/btn.png) -67px 0 no-repeat;
	width:67px;  height:23px;
	line-height:23px; }		
	
*html .btnM { 
	background:url(./images/input&btn_bg.png) 0 -43px no-repeat;
	height:22px;
	line-height:22px; }
	
.btnM:hover {
	background:url(./images/btn.png) -67px -24px no-repeat; 
	color:#fff;
	-webkit-transition:all .2s ease;
	   -moz-transition:all .2s ease;
		 -o-transition:all .2s ease;
	        transition:all .2s ease; }	
	
.btnS:hover { 
	background:url(./images/btn.png) -67px -73px no-repeat; 
	color:#fff;
	-webkit-transition:all .2s ease;
	   -moz-transition:all .2s ease;
		 -o-transition:all .2s ease;
	        transition:all .2s ease; }
	
.btnA {
	display:block; display:inline; /* hack IE6 */
	float:left;
	margin-left:8px;text-align:center; }

.reduce, .add {
	display:block;
	width:10px;  height:10px;
	text-align:center;
	line-height:10px;
	border:1px solid #999;
	float:left;
	background:url(./images/title_bg.jpg) 0 -10px repeat-x;
	position:relative; top:5px; }
	
.reduce {
	display:inline;
	margin-left:10px;}
	
.reduce:hover, .add:hover {
	border:1px solid #f90; }	
	
.number {
	width:28px; 
	height:18px;
	float:left;
	margin:0 2px;
	display:inline;
	text-align:center; }
	
.priceTable {
	width:100%; 
	margin:15px auto;
	text-align:center;
	background:#a6a6a6; }
	
.priceTable th, .priceTable td {
	text-align:center;
	vertical-align:middle;
	padding:8px 3px;
	background:#fff;  }
	
.priceTable th {
	font-size:14px;  font-weight:700;
	background:url(./images/buy_hot_bg.jpg) 0 -27px repeat-x; }

tr.colorT td{
	background:#fffaf0;}
	
.priceTD { color:#d60000;}

.priceHead { 
	font-size:12px;  
	font-weight:500; }
	
.priceCA { 
	position:relative; top:2px; }
	
.priceBottom {
	position:absolute;  top:0; left:0; }
	
.promoBannar img { 
	width:978px;  height:200px;
	border:1px solid #d3d3d3;  
 	-webkit-border-radius:6px;
	   -moz-border-radius:6px;
            border-radius:6px; }
	
.mainContentL {
	float:left; 	
	width:770px; }
	
h2.promoH2 {
	background:url(./images/long_bg.png) 0 -172px no-repeat;
	text-indent:-9999px;
	line-height:38px;
	margin-top:10px;
	height:38px; }
	
.promoContent {
	border:5px solid #e74b10;
	padding-top:17px; }
	
.promoSP {
	width:724px;
	margin:0 auto 17px auto;
	border:1px solid #ffad32;
	position:relative;
	background:#fef4e5; 
 	-webkit-border-radius:6px;
	   -moz-border-radius:6px;
            border-radius:6px;
	-webkit-box-shadow:0 0 3px #aaa;
 	   -moz-box-shadow:0 0 3px #aaa;
		    box-shadow:0 0 3px #aaa;			
	-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2); 
		moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2); 
			box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);  }
		
.promoSP img{
	width:366px;  height:147px;
	border-right:1px solid #ffad32;
	float:left;  
	display:inline;
	margin-right:10px; }
	
.promoSP div {
	padding-top:8px; }
	
.promoSP p {
	margin:0 0 6px 0; }
	
.paragraph {
	text-indent:26px;
	height:50px;
	overflow:hidden; text-overflow:ellipsis;
	line-height:17px;}
	
.fr { position:absolute; right:8px; bottom:8px; }	
